.row{
    margin-left: 20px;
    color: white;

}
.poster{
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
   
    

}
.normal-poster{
    max-height: 275px;
    margin-right: 10px;

}
.small-poster{
    max-height: 190px;
    margin-right: 10px;
}
.poster::-webkit-scrollbar{
    display: none;

    
}

.normal-poster:hover{
    transform: scale(1.1);
    cursor: pointer;
    z-index: 1;
    transition: 400ms all;
}
.small-poster:hover{
    transform: scale(1.1);
    cursor: pointer;
    z-index: 1;
    transition: 400ms all;
}
.yt iframe{
    width: 50%;
    margin-left: 25%;
  
}

@media (min-width:0px) and (max-width:800px){
    .normal-poster{
        max-height: 130px;
    }
    .row{
        margin-top: -5em;
    }
    .small-poster{
        max-height: 100px;
       
    }
    .poster-title{
        margin-top: 70px;
    }
}

.player{
    width: 50%;
}
